.innert__title {
 text-transform: uppercase;
}

.header__nav a {
 display: block;
 float: left;
}

.header__nav a.current {
 background-color: #fff;
 color: #00a4f8;
}

.unattainable + .forpartners {
 padding-top: 6em;
}

.forpartners__logo {
  width: 25%;
}

.loading {
 background-image: url("images/loading.svg") !important;
 background-repeat: no-repeat !important;
 background-position: center !important;
 color: transparent !important;
 background-color: #216eee !important;
 -webkit-transition: 0s !important;
 transition: 0s !important;
}

form .input.-error input {
 -webkit-animation: shake .8s;
 animation: shake .8s;
 border: 1px solid #f44336 !important;
}

form .input.-error em {
 font-size: 12px;
 color: #f44336;
 margin: 4px 0 0 0;
 font-style: normal;
 display: block;
 text-align: left;
}

@-webkit-keyframes shake {
 0%, 100% {
  -webkit-transform: translateX(0);
  transform: translateX(0); }
 10%, 30%, 50%, 70%, 90% {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px); }
 20%, 40%, 60%, 80% {
  -webkit-transform: translateX(10px);
  transform: translateX(10px); } }

@keyframes shake {
 0%, 100% {
  -webkit-transform: translateX(0);
  transform: translateX(0); }
 10%, 30%, 50%, 70%, 90% {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px); }
 20%, 40%, 60%, 80% {
  -webkit-transform: translateX(10px);
  transform: translateX(10px); } }

.popup {
 display: none; }
.popup__text {
 font-size: 18px;
 color: #008ce4;
 font-weight: 300;
 margin-top: 10px;
 text-align: center; }


/*Added video block =======================================================================>*/
.videos{
 padding-top: 2em;
 margin-bottom: 5em;
}

.videos__title{
 text-align: center;
 font-family: 'unisans', serif;
 font-size: 3em;
 text-transform: uppercase;
 margin-bottom: 0.75em;
}

.videos__sliders{
 width: 620px;
 margin: 0 auto;
}

/*Videos slider*/
.videos-slider{
 height: 348px;
}

.videos-slider-js,
.videos-slider .slick-list,
.videos-slider .slick-track,
.videos-slider__item{
 height: 100%;
}

.videos-slider__item iframe{
 width: 100%;
 height: 100%;
}

/*Video names slider*/
.vnames-slider{
 position: relative;
 padding: 0 19px;
border-bottom: 1px solid #2eb0f1;
border-top: 1px solid #2eb0f1;
}

.vnames-slider .slick-track{
 margin: 0;
}

.vnames-slider__item{
 cursor: pointer;
}

.vnames-slider__item.disabled{
    pointer-events: none;
}

.vnames-slider__item:focus{
 outline: none;
}

.vnames-slider__content{
  position: relative;
  height: 90px;
  border-left: 1px solid #2eb0f1;
  text-align: center;
}

.vnames-slider__item:last-child .vnames-slider__content{
  border-right: 1px solid #2eb0f1;
}

.vnames-slider__item span{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  padding: 0 15px;
  font-size: 1.4em;
  transition: 0.3s;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.vnames-slider__item.active span{
  /*font-weight: 600;*/
  color: #2eb0f1;
}

.vnames-slider__arr{
  display: block !important;
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
  border-left: 1px solid #2eb0f1;
    border-right: 1px solid #2eb0f1;
  cursor: pointer;
}

.vnames-slider__arr:focus{
  outline: none;
}

.vnames-slider__arr svg{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 8px;
  height: 12px;
  margin-left: -4px;
  margin-top: -6px;
  fill: #2eb0f1;
}

.vnames-slider__arr_left{
  left: 0;
}

.vnames-slider__arr_right{
  right: 0;
}

@media screen and (max-width: 620px){
    .videos__sliders{
        width: 100%;
    }

    .slick-active span{
        color: #2eb0f1;
    }
}